@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Quinthero';
    src: url('/fonts/Quinthero.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    font-family: 'Quinthero', sans-serif;
}

.titleShadow {
    text-shadow: 4px 4px 20px #000;
}

.textShadow {
    text-shadow: 2.975px 2.975px 4.462px rgba(0, 0, 0, 0.30);
}

.border-gradient-bottom {
    background: linear-gradient(to bottom, #EB6A21, #260E04);
}

.border-gradient-right {
    background: linear-gradient(to right, #EB6A21, #260E04);
}

.border-gradient-left {
    background: linear-gradient(to left, #EB6A21, #260E04);
}

.border-gradient-top {
    background: linear-gradient(to top, #EB6A21, #260E04);
}